@import "reset.css";
@import "root.css";
@import "themes/dark.theme.css";
@import "themes/light.theme.css";

* {
  font-family: var(--font-family-main);
  font-size: var(--font-line-m);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
}

.app {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.app-main {
  display: flex;
  flex-direction: column;
  width: calc(100vw - var(--sidebar-width));
  background-color: var(--bg-color-secondary);
}
